:host {
  /*empty*/
}

.component-root {
  display: flex;
  flex: 1;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.status {
  display: flex;
}

.steps {
  display: flex;
  flex-direction: column;
  flex: 1;
   & > * {
    transition-delay: 0ms;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    min-height: 3.5rem;
   }

  .expanded {
    flex: 1;
  }
  
  .closed {
    flex: unset!important;
  }
}
