:host {
  border-color: rgba(220, 20, 60, 0.8);
  box-shadow: inset 0 0 20px 0px rgba(220, 20, 60, 0.8);
  background: rgb(220,20,60);
  background: radial-gradient(circle, rgba(220,20,60,0.5326505602240896) 50%, rgba(220,20,60,0.8) 100%);
}

.component-root {
  padding: 1rem;
}

.not-found {
  font-size: 200px;
  margin: 0;
}
